---
import 'normalize.css';
import 'sakura.css';

const { title } = Astro.props;
---
<html lang="zh-tw">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>InfoFinland 中文台灣{ title ? ` - ${title}` : ''}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X99K2F7GS8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-X99K2F7GS8');
    </script>
	</head>
  <body>
    <slot />
  </body>
</html>
